# Переменные для PostgreSQL:
POSTGRES_DB=postgres_db_name
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_user_password
# Переменные для Django-проекта:
SECRET_KEY=get_random_secret_key
DEBUG=False
DB_HOST='имя контейнера базы данных или 127.0.0.1'
DB_PORT=5432
ALLOWED_HOSTS=xxx.xxx.xxx.xxx 127.0.0.1 localhost https://yourdomain