# Переменные для Django-проекта:
ALLOWED_HOSTS=xxx.xxx.xxx.xxx 127.0.0.1 localhost https://yourdomain
DEBUG=True
SECRET_KEY=key from setting

# Переменные для PostgreSQL:
POSTGRES_DB=postgres_db_name
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=project_db_user_password

# Переменные для Doker контейнера:
DB_HOST=имя контейнера базы данных или 127.0.0.1
DB_PORT=5432

# Переменные для авто тестов:
PROJECT_DIR_NAME=backend
